.bodies_menu {
    background: rgb(131,58,180);
    background: linear-gradient(
        180deg, 
        rgba(214, 233, 9, 0.86) 15%, 
        rgba(235, 0, 255, 0.86) 36%, 
        rgba(255, 0, 170, 0.9) 66%, 
        rgba(255, 67, 0, 0.95) 100%
    );
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100vh;

    margin: 0 auto;
    padding-left: 0;
    text-align: center ;
    list-style: none;
}

.list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &::before {
        display: block;
        width: 100%;
        height: 100%;
        content: '⭐ ';
        align-items: center;
        transform: scale(0);
        opacity: 0;
        transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
        transform: scale(1.15);

        &::before {
            opacity: 1;
            transform: scale(1.25);
        }
    }
}

.list_item a {
    padding: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.4;
    
    z-index: 10;
    opacity: 0.85;
    text-shadow: rgba(2, 0, 4, 0.5) 1px 0 3px;
    color: rgba(78, 32, 78, 0.7);
    text-decoration: none;
    align-items: center;

    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list_item a:hover,
.list_item a:focus {
    opacity: 1;
    color: rgba(78, 32, 78, 1);
    text-shadow: 0 2.8px 2.2px rgba(214,233,9,0.9);
}
