.body_timer {
  display: flex;
  flex-direction: column;
  flex-basis: content;

  background: linear-gradient(
  210deg, 
    rgba(2,0,36,0.9419117988992471) 0%, 
    rgba(112,9,121,0.8606793059020483) 56%, 
    rgba(255,67,0,1) 85%,
    rgba(252,176,69,1) 100%
  );
  margin: 0;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
  justify-content: center;
  align-items: center;
}

.timer {
  display:flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.desc {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  
  font-size: 55px;
  font-weight: 700;
  line-height: 1.6;
  font-style: italic;
  color: rgba(187, 140, 20, 0.851);
  margin: 0 auto;
  
  text-shadow: 0 2.8px 2.2px green, 
  0 6.7px 6px blue, 
  0 12.5px 12px red,
  0 22.3px 17.9px purple, 
  0 28.8px 28px orange, 
  0 80px 33px teal;
}

.field {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;

  min-width: 80px;
  min-height: 100px;
  padding: 20px 55px;
  
  background-color: #303132;
  border-top-left-radius: 53px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;

  box-shadow: 0 2.8px 2.2px green, 
  0 6.7px 5.3px blue, 
  0 12.5px 10px red,
  0 22.3px 17.9px purple, 
  0 41.8px 33.4px orange, 
  0 100px 80px teal;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.value {
  font-size: 44px;
  line-height: 1.2;

  color: rgb(172, 162, 58);
}

.label {
  margin-bottom: 8px;

  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;

  color: rgba(128, 128, 0, 0.892);
}


// NEON TEXT - DECORATION
.neonText {
  animation: flicker 2000ms infinite alternate;
  color: rgba(172, 162, 58, 1);
  color: rgb(199, 187, 78);
}

/* Flickering animation */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 4px khaki,
    0 0 11px khaki,
    0 0 19px khaki,
    0 0 40px rgb(199, 187, 78),
    0 0 80px rgb(199, 187, 78),
    0 0 90px rgb(199, 187, 78),
    0 0 100px rgb(199, 187, 78),
    0 0 150px rgb(199, 187, 78);
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* Pulse animation */
// .neonText {
//   color: #fff;
//   text-shadow:
//     0 0 7px #fff,
//     0 0 10px #fff,
//     0 0 21px #fff,
//     0 0 42px #bc13fe,
//     0 0 82px #bc13fe,
//     0 0 92px #bc13fe,
//     0 0 102px #bc13fe,
//     0 0 151px #bc13fe;
// }
  
// h1 {
//   font-size: 6.2rem;
//   animation: pulsate 1.5s infinite alternate;  
//   border: 0.2rem solid #fff;
//   border-radius: 2rem;
//   padding: 0.4em;
//   box-shadow: 0 0 .2rem #fff,
//             0 0 .2rem #fff,
//             0 0 2rem #bc13fe,
//             0 0 0.8rem #bc13fe,
//             0 0 2.8rem #bc13fe,
//             inset 0 0 1.3rem #bc13fe; 
// }

// @keyframes pulsate {
//   100% {
//     text-shadow:
//     0 0 4px #fff,
//     0 0 11px #fff,
//     0 0 19px #fff,
//     0 0 40px #bc13fe,
//     0 0 80px #bc13fe,
//     0 0 90px #bc13fe,
//     0 0 100px #bc13fe,
//     0 0 150px #bc13fe;
//   }
  
//   0% {
//     text-shadow:
//     0 0 2px #fff,
//     0 0 4px #fff,
//     0 0 6px #fff,
//     0 0 10px #bc13fe,
//     0 0 45px #bc13fe,
//     0 0 55px #bc13fe,
//     0 0 70px #bc13fe,
//     0 0 80px #bc13fe;
//   }
// }